<section class="hero">
  <div class="inner">
    <div class="content">
      <div class="breadcrumbs">
        <a href="/">Главная</a>
        <span>&gt;</span>
        <span class="breadcrumbs-current">OpenIDE Pro</span>
      </div>

      <h1 class="title">Профессиональная IDE для корпоративной разработки</h1>

      <p class="description">
        Для компаний, которым важны безопасность, предсказуемость, независимость
        и технологическое лидерство. Без смены привычного DevEx и без потери
        времени на переобучение.
      </p>

      <app-button href="#pro-form" class="cta-button">Запросить ранний доступ</app-button>
    </div>

    <div class="image">
      <img src="/images/pro/hero.png" alt="OpenIDE Pro скриншот" width="659" height="450" />
    </div>
  </div>
</section>
